<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">

  <!--/* 부트스트랩은 resources/tatic 안에 다운받으면 됩니다. */-->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <title> 반갑습니다. </title>
  <style>
    .container {
      max-width: 100%;
    }
  </style>
</head>
<body class="bg-light">
인덱스 페이지입니다. <br/>

<a th:href="@{/sign-up}">회원가입</a>
</body>
</html>
